* {
    font-family: "Geist", sans-serif;
}
body {
    background-color: #F8FAFC;
}

#tabs{
    box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.08);
}

#issue-info {
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.08);
}

.issue-card {
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08);
}

.open {
    border-top: 3px solid #00A96E;
}
.closed {
    border-top: 3px solid #A855F7;
}